<p>company-details works!</p>

<div class="jumbotron"style="text-align:center" >
    <table class="table table-dark center " style="text-align:center" >
    <tr>
    <td> Name</td>
    <td> <input type="text"value={{compp.cname}}></td>
    </tr>
    <tr>
    <td> Email</td>
    <td> <input type="text" value={{compp.email}}></td>
    </tr>
    <tr>
    <td> Mobile</td>
    <td> <input type="text" value={{compp.mobile}}></td>
    </tr>
    <tr>
    <td> Username</td>
    <td> <input type="text" value={{compp.username}}></td>
    </tr>
    <tr>
    <td> password</td>
    <td> <input type="text" value={{compp.password}}></td>
    </tr>
    </table>
    <button class="btn btn-info float-right" (click)="getback()">Go Back</button>
   </div>
   